.background-img{
    background-image: url("/assets/images/steel.jpg");
    background-repeat: round;
    height: 750px;
}
.heading{
    color: #3da8b8;
}
.box{
    width: 50%;
    height: 40%;
}
.shadows{
    box-shadow: 0 2rem 1rem ;
    background-color: #d5cad2;
}
strong{
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 2rem 1rem #0000003d;
}
.color{
    background-color:  #c083b0;
  }