
    <div class="container-fluid">
       
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link active color" href="#">
                  
                  </a></li>
                </ul>
                
                <button class="ms-auto btn-lg"  routerLink="/login">
                 <div>
                <img src="../assets/Images/logout.jpg" height="25" weight="25"> 
              </div>
                <span class="glyphicon glyphicon-log-out"></span>
               </button>  
  
              </div></div>
  <div class="background-img">

<div class="background-img">
    <h1 class="text-center heading p-3"><strong>WELCOME TO ADMIN</strong></h1>

   <div class="row">
        <div class="col-8">
            <div class="row p-3 m-5"> 
                <div class="col-4">
                    <button type = "button" class = "box btn btn-default btn-info shadows p-3 m-5  rounded" routerLink="/customerlist"> Customer Details</button><br><br>
                   <button type = "button" class = "box btn btn-default btn-info shadows p-3 m-5  rounded" routerLink="/producttable">Product Details </button><br><br>
                  
              </div>
              <br><br>
              <div class="col-4">
                  <button type = "button" class = "box btn btn-default btn-info shadows p-3 m-5  rounded" routerLink="/ordertable">Order Details</button><br><br>
                  <button type = "button" class = "box btn btn-default btn-info shadows p-3 m-5  rounded" routerLink="/customisedproduct">Customised Product Details</button><br><br>
              </div>
              <div class="col-4">
                <button type = "button" class = "box btn btn-default btn-info shadows p-3 m-5  rounded" routerLink="/reviewtable">Review Details</button><br><br>
                <button type = "button" class = "box btn btn-default btn-info shadows p-3 m-5  rounded" routerLink="/stafftable">Staff Details</button><br><br>
            </div>
           
            <div>
              <div class="col-4">
              
            </div>
          </div>
         </div>
               </div>
            </div>
</div>
  </div>